* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60px;
  background-color: #0077b6;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}

.menu-btn {
  margin-right: 20px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

header .search-container {
  flex: 1;
  position: relative;
}
.search-container i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  color: black;
}

header h1 {
  font-size: 18px;
}

.header input {
  border: 0;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.container {
  background-image: url(/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  padding: 70px 0;
  background-attachment: fixed;
  /* height: calc(100vh - 140px); */
  color: white;
}
.notice-container {
  text-align: center;
  position: fixed;
  bottom: 60px;
  width: 100%;
  background-color: #0077b6;
  padding: 5px;
}
.notice-container h2 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.footer {
  background-color: #fff;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 0;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.play-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.radio-btns {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: calc(100vh - 160px);
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.radio-btns::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.radio-btns {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.radio-btns button {
  display: flex;
  cursor: pointer;
  margin: 5px 0;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.842);
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  padding: 5px 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}

.radio-btns button.selected {
  border: 2px solid orange;
}

button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
button .wave {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.show-wave {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.offline {
  color: red;
}
.ocamedia {
  border: 3px solid yellow;
}
